[config]
ws type = 1080
usb activity margin = 3.0
pressure offset = 31.2
logdata sync = 1
day end hour = 0
asynchronous = True
frequent writes = False
template encoding = iso-8859-1
gnuplot version = 4.2
gnuplot encoding = iso_8859_1
rain day threshold = 0.2

[live]
services = ['underground_rf']
text = []
plot = []

[logged]
services = ['underground']
text = []
plot = []

[paths]
work = /home/jarkko/pywws/temp/
templates = ~/pywws/templates/
graph_templates = ~/pywws/graph_templates/
local_files = ~/pywws/results/

[12 hourly]
services = []
text = []
plot = []

[daily]
services = []
text = []
plot = []

[underground]
station = {{ lookup('env','WUNDERGROUND_STATION_ID') }}
password = {{ lookup('env','WUNDERGROUND_PASSWORD') }}
template = default
